<div class="navbar">
  <button class="btn-nav waves-effect waves-light btn" id="home" type="button" name="home">Home</button>
  <button class="btn-nav waves-effect waves-light btn" id="scrape" type="button" name="scrape">Scrape</button>
  <button class="btn-nav waves-effect waves-light btn" id="articles" type="button" name="scrape">Articles</button>
  <script src="javascripts/navbtns.js" charset="utf-8"></script>
</div>
